<div class="col-md-10"  style="padding-left: 30px">
  <%=  render 'layouts/flash' %>
  <table class="table">
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order[:shipping_address] %>
        </td>
        <td>
          <%= number_to_currency(order[:total]/100)%>
        </td>
        <td>
          <%= Status.find_by(id: order.status_id)[:name] %>
        </td>
      </tr>
    <% end %>
  </table>
</div>