<div class="searchdiv">
  <%= form_tag '/search',method: 'get', class: 'form-group search-form' %>
  <%= text_field_tag :query, "", class: "form-control" %>
  <button class="btn btn-primary"> Search</button>
</div>