<div class="searchdiv col-sm-4">
  <%= form_tag '/search',method: 'get', class: 'form-group search-form' do %>
    <%= text_field_tag :query, "", class: "form-control" %>
    <%= submit_tag 'Search',class: "btn btn-success" %>
  <% end %>
</div>